html body {

	margin: 0px;
	width: 100%;

}

a{

  text-decoration: none;
  color: blue;

}

a:hover{

  text-decoration: none;
   color: blue;

}

#all {

	position: relative;	
	min-height: 100vh;
	margin: 0px;
	top:0px;
	left:0px;

}

#umi {

	height: 60vh;
	width: 100%;
	position: relative;
	top:0vh;
	margin: 0px;
	background: -webkit-linear-gradient(top, #ffffff 0%, #00bfff 100%);	
    background: linear-gradient(top, #ffffff 0%, #00bfff 100%);

}

.wav {

	width: 0%;
	height: 0%;
	border-radius: 50%;	
	position: absolute; /* position:relativeの親要素からの位置を参照するよ */	
	border: double 3px white;
	opacity: 0;	
	animation: wave 5s infinite;
	
}

@keyframes wave {

  0% {

    width:  0%;
    height: 0%;
    box-shadow: 0 0 100px inset skyblue;
	opacity: 0;

  }
  
  50% {

  	opacity: 1;

  }
  
  100% {

    width:  10%;
    height: 7%;
    opacity: 0;

  }

}

.wav2 {

	top:20%;
	left:20%;
	width: 10%;
	height: 10%;
	border-radius: 50%;
	position: absolute;	
	border: double 1px white;
  	animation: wave2 5s infinite;
  		
}

@keyframes wave2 {

  0% {

    width:  0%;
    height: 0%;
    opacity: 0;

  }
  
  50% {

    width:  60%;
    height: 50%;
    opacity: 0.7;

  }
  
  100% {

    width:  60%;
    height: 50%;
    opacity: 0;

  }

}

#head {

	position: fixed; /* 場所を固定するよ、他の要素から場所を参照されないからちょっと困るよ */
	top: 0vh; /* vhは画面の縦の長さを表すよ、100vhで画面いっぱいだよ */
	left: 0vw;
	width: 100vw;
	height: 20vh;
	margin: 0px;
	z-index: 100; /* Z軸だよ、大きい程手前に来るよ */
	opacity: 0.9; /* 透明度だよ、1が最大値で0が透明だよ */
	
}

#menu {

	position:relative; /* ここを子要素の基準にするよ */
	width:100%; /* 親要素の100%の大きさ */
	height: 100%;
	display: flex; /* flexっていう並び順にするよ */
	flex-direction: row; /* flexの時子要素をを横並びにするよ */
	list-style-type: none; /* リストの最初に出てくるマークを消すよ */
	background-image: linear-gradient(skyblue, #00bfff);
	margin: 0px;
	padding:0px;	
	align-items: center; /* display:flexの時中身を真ん中に寄せるよ、縦方向だよ */
	justify-content: center; /* display:flexの時中身を真ん中に寄せるよ、横方向だよ */

}

.menubutton {

	position:relative;
	width:15%;
	height: 80%;
	background-image: linear-gradient(skyblue, #00bfff); /* 背景色を線形グラデーションで塗るよ、グラデーションは画像扱いなんだ */
	display: flex;
	align-items: center; /* display:flexの時中身を真ん中に寄せるよ、縦方向だよ */
	justify-content: center; /* display:flexの時中身を真ん中に寄せるよ、横方向だよ */
	flex-wrap:wrap; /* flexのアイテムを折り返す */	
	border-radius: 25px; /* ボーダーをこのぐらい丸くするね */
	margin: 1%;
	border: solid 3px #5e7fca; /* ボーダーの下側だよ */
	box-sizing: border-box; /* ボーダーを要素の中身に描くよ */
	color:white; /* 文字の色だよ */
	font-weight: bold; /* 文字を太くするよ */
	font-size: 1.6rem; /* html要素で決めたフォントサイズの1.6倍にするよ */
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);	
	word-break: break-all;	

}

.menubutton:active {

	background-image: linear-gradient(skyblue, #007fca);

}

.menubutton:hover {

	color:white;

}

.menuli {

	display: flex;
	align-items: center; /* display:flexの時中身を真ん中に寄せるよ、縦方向だよ */
	justify-content: center; /* display:flexの時中身を真ん中に寄せるよ、横方向だよ */
	word-break: break-all;
	width:80%;
	flex-wrap: wrap;
	text-align: center;

}

#title {

	position:absolute;
	font-weight: bold; /* 文字を太くするよ */
	font-size: 1.6rem; /* html要素部分で決められたフォントサイズの1.6倍にするよ */
	width:100%;
	height:100%;
	display: flex; /* 中央寄せにする為にflex */
    align-items: center;
	justify-content: center;
	z-index:5; /* 波紋より上に置きたかったので */
	color:#000080; /* 文字の色だよ */

}

#syoukai {

	position:relative;
	width:100%;
	min-height: 30vh;
	display: flex;
    align-items: center;
	justify-content: center;
	flex-wrap:wrap; /* flexのアイテムを折り返す */

}

#zikotitle {

	width:100%;
	height: 10%;
	top:10%;
	display: flex;
	align-items: center;
	justify-content: center;

}

#syoukaiblock {

	width:100%;
	height: 90%;
	position:relative;	
	display: flex;
	justify-content: center;
	flex-direction: row; /* flexの時子要素をを横並びにするよ */

}

#icon {

	position:relative;
	left:0px;
	margin-right: 5%;	

}

#icon img{

	width: 300px;

}

#desc {

	position:relative;
	width:40%;
	font-size: 1.4rem; /* html要素で決めたフォントサイズの1.6倍にするよ、フォントサイズ決めてないけど */

}

#prod {

	position:relative;
	width:100%;
	min-height: 30vh;
	display: flex;
    align-items: center;
	justify-content: center;
	flex-wrap:wrap;

}

#prodtitle {

	width:100%;
	height: 10%;
	top:10%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.prodblock {

	width:100%;
	min-height:30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap;
	padding-bottom: 5%;

}

.proti {

	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.prodimg {

	width:40%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.proddesc {

	width:40%;
	font-size: 1.4rem; /* html要素で決めたフォントサイズの1.6倍にするよ、フォントサイズ決めてないけど */

}

.backGlay {

	background-color: #CCCCCC;

}
